# Imports

In [6]:
import yfinance as yf
import pandas as pd
import os
from pystock.portfolio import Stock

In [2]:
DATA_DIR = 'Data'

# Downloading Data

`pystock` modules loads the data from local directory. Furthermore, `pystock` assumes that your data is in standard format. The standard format is a csv file with the following columns:
1. **Date**: Date of the data
2. **Close**: Closing price of the stock (**Adj Close** also works.)

This two columns are the minimum requirement for the data. However, you can add more columns to the data. For example, you can add the following columns to the data:
1. **Open**: Opening price of the stock
2. **High**: Highest price of the stock
3. **Low**: Lowest price of the stock

The best way to have the data in this format is by using Yahoo Finance. For this you can use the `yfinance` module. The following code downloads the data from Yahoo Finance and saves it in the `data` directory.

```python
    import yfinance as yf
    import pandas as pd
    
    # Downloading data
    data = yf.download('AAPL', start='2010-01-01', end='2020-01-01')
    
    # Saving data
    data.to_csv('data/AAPL.csv')

Here, we'll give some examples of how to use the `yfinance` module. For details, you can refer the `yfinance` [repository](https://github.com/ranaroussi/yfinance).

## Downloading Indices

### Downloading Single Indices

In [12]:
start = '2010-01-01'
end = '2022-12-30'

snp = yf.download('^GSPC', start=start, end=end)
snp.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000

Let's save this:

In [5]:
snp.to_csv(os.path.join(DATA_DIR, 'snp.csv'))

Now, you can easily load the data using `pystock`:

In [14]:
snp = Stock("S&P", os.path.join(DATA_DIR, 'snp.csv'))
snp

Stock(name=S&P)

In [16]:
snp.load_data(columns=['Adj Close'], rename_cols=['Close'], frequency='D')

                  Close
Date
2010-01-04  1132.989990
2010-01-05  1136.520020
2010-01-06  1137.140015
2010-01-07  1141.689941
2010-01-08  1144.979980
...                 ...
2022-12-26  3844.820068
2022-12-27  3829.250000
2022-12-28  3783.219971
2022-12-29  3849.280029
2022-12-30  3839.500000

[4744 rows x 1 columns]

### Downloading Multiple Indices

This can be done by passing a list of indices to the `tickers` argument:

In [21]:
indices = ["^DJI", "^FTSE"]

data = yf.download(indices, start=start, end=end, group_by='ticker')

[*********************100%***********************]  2 of 2 completed

You also need pass the argument `group_by='ticker'` to the `load_data` function. This will group the data by the ticker.

In [23]:
data.head()

                  ^FTSE                                                      \
                   Open         High          Low        Close    Adj Close
Date
2010-01-04  5412.899902  5500.299805  5410.799805  5500.299805  5500.299805
2010-01-05  5500.299805  5536.399902  5480.700195  5522.500000  5522.500000
2010-01-06  5522.500000  5536.500000  5497.700195  5530.000000  5530.000000
2010-01-07  5530.000000  5551.700195  5499.799805  5526.700195  5526.700195
2010-01-08  5526.700195  5549.299805  5494.799805  5534.200195  5534.200195

                                  ^DJI                              \
                  Volume          Open          High           Low
Date
2010-01-04  7.509420e+08  10430.690430  10604.969727  10430.690430
2010-01-05  1.149301e+09  10584.559570  10584.559570  10522.519531
2010-01-06  9.982953e+08  10564.719727  10594.990234  10546.549805
2010-01-07  1.162934e+09  10571.110352  10612.370117  10505.209961
2010-01-08  1.006421e+09  10606.400391  10619.400391  10554.330078


                   Close     Adj Close       Volume
Date
2010-01-04  10583.959961  10583.959961  179780000.0
2010-01-05  10572.019531  10572.019531  188540000.0
2010-01-06  10573.679688  10573.679688  186040000.0
2010-01-07  10606.860352  10606.860352  217390000.0
2010-01-08  10618.190430  10618.190430  172710000.0

Now, you can separate the data by the ticker:

In [25]:
dji = data["^DJI"]
ftse = data["^FTSE"]
display(dji.head())
display(ftse.head())

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,10583.959961,179780000.0
2010-01-05,10584.559570,10584.559570,10522.519531,10572.019531,10572.019531,188540000.0
2010-01-06,10564.719727,10594.990234,10546.549805,10573.679688,10573.679688,186040000.0
2010-01-07,10571.110352,10612.370117,10505.209961,10606.860352,10606.860352,217390000.0
2010-01-08,10606.400391,10619.400391,10554.330078,10618.190430,10618.190430,172710000.0

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,5412.899902,5500.299805,5410.799805,5500.299805,5500.299805,7.509420e+08
2010-01-05,5500.299805,5536.399902,5480.700195,5522.500000,5522.500000,1.149301e+09
2010-01-06,5522.500000,5536.500000,5497.700195,5530.000000,5530.000000,9.982953e+08
2010-01-07,5530.000000,5551.700195,5499.799805,5526.700195,5526.700195,1.162934e+09
2010-01-08,5526.700195,5549.299805,5494.799805,5534.200195,5534.200195,1.006421e+09

## Downloading Stocks and Other Securities

The same procedure can be used for downloading stocks and other securities. For example, let's download the data for the some securities:

In [27]:
tickers = ['AAPL', 'MSFT', 'AMZN', 'GOOG']
data = yf.download(tickers, start='2010-01-01', end='2020-01-01', group_by='ticker')

[*********************100%***********************]  4 of 4 completed

In [29]:
amazon = data["AMZN"]
display(amazon.head())

              Open    High     Low   Close  Adj Close     Volume
Date
2010-01-04  6.8125  6.8305  6.6570  6.6950     6.6950  151998000
2010-01-05  6.6715  6.7740  6.5905  6.7345     6.7345  177038000
2010-01-06  6.7300  6.7365  6.5825  6.6125     6.6125  143576000
2010-01-07  6.6005  6.6160  6.4400  6.5000     6.5000  220604000
2010-01-08  6.5280  6.6840  6.4515  6.6760     6.6760  196610000

> For the time being, `pystock` requires you to pass the stock data as a file directory. In the future, we'll add the functionality to pass the data as a `pandas` dataframe.